<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">

        <context:property-placeholder location="classpath:redis.properties"></context:property-placeholder>
        <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
                <property name="maxIdle" value="${redis_setMaxIdle}"></property>
                <property name="maxTotal" value="${redis_setMaxTotal}"></property>
                <property name="minIdle" value="${redis_setMinIdle}"></property>
        </bean>
       <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
               <property name="poolConfig" ref="jedisPoolConfig"></property>
               <property name="hostName" value="${redis_url}"></property>
               <property name="port" value="${redis_port}"></property>
       </bean>
        <bean name="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
            <property name="keySerializer">
                <bean
                        class="org.springframework.data.redis.serializer.StringRedisSerializer" />
            </property>
            <property name="valueSerializer">
                <bean
                        class="org.springframework.data.redis.serializer.StringRedisSerializer" />
            </property>
                <property name="connectionFactory" ref="jedisConnectionFactory"></property>
        </bean>


</beans>